@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
    url('montserrat-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat-italic-webfont.woff2') format('woff2'),
    url('montserrat-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;

}

@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
    url('montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montserrat';
  font-size: 1rem;
  color: #fff;
  background-color: #0d1017;
}

.wrapper {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;

}

header {
  background-color: #161b21;
}

.header {
  padding: 1rem 1rem 0rem 1rem;
  display: flex;
  justify-content: space-between;
}

h3 {
  color: #000629;
  background-color: #59a6ff;
  padding: 1rem;
  /* width: 10.5rem; */
  text-align: center;
}

ul {
  max-height: 65rem;
  /* overflow: auto; */
  overflow: hidden
}

li {
  list-style: none;
}

.main__repository h3 {
  width: 9.5rem
}

.logo {
  width: 4rem;
  padding: 0.5rem;
}

.logo svg {
  fill: #fff;
  width: 100%
}

.main {
  display: grid;
  grid-template-columns: 1fr 55% 1fr;
  grid-template-areas:
    "first second third";
}

section.main__team {
  grid-area: first;
  border-right: 1px solid #ddd;
}

section.main__repository {
  grid-area: second;
  padding: 1rem;
  display: inline-flex;
  flex-direction: column;
}

.main__repository--bottom {
  padding-top: 1rem;
}

section.main__user {
  grid-area: third;
  border-left: 1px solid #ddd;
}

.padding {
  padding: 1rem 0rem
}

form {
  padding: 1rem;
}

form input {
  /* margin-top: .5rem; */
  padding: 0.7rem 1.2rem;
  font-size: 1rem;
  border-radius: 5rem;
  background-image: url("../media/images/search.svg");
  background-position: 98% center;
  background-repeat: no-repeat;
  outline: none;
  width: 100%;
}

.weather__report--inner,
.covid__cases--inner {
  display: flex;
  align-items: center;
}

.covid__cases--inner {
  margin-right: 1rem;
}

.covid__cases--img {
  width: 4rem;
}

.covid__cases--img img {
  width: 100%;
}

.covid--weather {
  display: flex;
  padding-bottom: 1rem;
}

div.userInfo--top {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.username {
  font-family: 'Arial';
  font-style: italic;
  font-weight: lighter;
  font-size: 0.9rem;
  line-height: 2;
}


div.image {
  width: 5rem;
  padding-right: 0.5rem;
}

.userInfo img {
  width: 100%;
}

p.usersname {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-family: 'montserrat';
  font-size: 0.9rem;
  /* line-height: 2; */
}

li.pgm_user-list {
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

li.pgm_user-list:nth-child(even) {
  background: #161b21;
}

li.pgm_user-followers {
  width: 18.8%;
  margin: 0.3rem;
}

ul.user__followers--list {
  display: flex;
  flex-wrap: wrap;

}

.follower__img {
  position: relative;
}

div.username--followers {
  position: absolute;
  bottom: 0rem;
  padding: 1rem;
  background-color: #0006299a;
  font-size: 0.9rem;
  width: 100%;
  text-align: center;
}

.follower__img img {
  width: 100%;
}

ul.repoListIcons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

li.pgm_user-repo p,
li.pgm_user-repo h4 {
  line-height: 1.5;
}

p.description {
  font-style: italic;
  color: #bbb;
  font-size: 0.9rem;
  padding-top: 0.5rem;
  padding-bottom: 0.2rem;
}

ul.repoListIcons p {
  font-size: 0.9rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.8;
}

li.pgm_user-repo {
  border: #dddddd81 1px solid;
  border-radius: 0.1rem;
  padding: 0.5rem;
}

.repoListIcons svg {
  width: 1rem;
  fill: #0000ff;
  margin-right: 0.1rem;
}

.background-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0vw 50%;
  margin-bottom: 1rem;
  position: relative;
}

div.background__cover--inner {
  position: absolute;
  left: 0;
  bottom: 0;
}

.background-cover h5 {
  padding-top: 12rem;
  padding-bottom: 12rem;
}

div.name_age {
  display: flex;
  font-size: 1.2rem;
  background-color: #59a6ff9c;
  color: #0d1017;
  padding: 0.5rem;
  width: 80%;
  font-weight: 600;
}

div.name_age p:nth-child(1) {
  padding-right: 0.2rem;
}

p.teacher__student {
  background: linear-gradient(267deg, #59a6ff 6%, #161b21b6 95%);
  padding: 0.5rem;
  width: 25%;
  font-weight: 600;
  font-size: 1.2rem;
}

div.motto {
  width: 100%;
  background-color: #00000080;
  padding: 0.5rem;
  line-height: 1.5rem;
  font-style: italic;
}

a.LinkedIn__link svg {
  width: 2rem;
  position: absolute;
  right: 0;
  fill: #59a6ff;
}

/* a.LinkedIn__link svg:hover {

  fill: rgb(89, 166, 255);
} */

p.git__padding--top {
  width: 10rem;
}

p.git__padding--bottom {
  width: 15rem;
}

li.follower__search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

li.follower__search svg {
  width: 3rem;
  fill: darkblue;
}

.follower__search h5 {
  font-size: 1.2rem;
}

/* ======= light mode ====== */

.logo__bnt .bnt {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  outline: none;
}

Button.active__button {
  /* width: 3.2rem; */
  outline: none;
  border: 2px solid #ddd;
  background-color: #000;
  margin-left: 0.5rem;
}

body.lightmode {
  color: #000629;
  background-color: #ddd;
}

.lightmode header {
  background-color: #00000033;
  ;
}

.lightmode h3 {
  color: #fff;
  background-color: #000629;
}

.lightmode .logo svg {
  fill: #000629;
}

.lightmode li.pgm_user-list:nth-child(even) {
  background: #00000033;
}

.lightmode p.teacher__student {
  color: #fff;
}

.lightmode div.motto,
.lightmode div.username--followers {
  color: #fff;
}

.lightmode section.main__team {

  border-right: 0.2rem solid #00000033;
  ;
}

.lightmode section.main__user {

  border-left: 0.2rem solid #00000033;
  ;
}

.lightmode p.description {
  color: #212121;
}

.lightmode li.pgm_user-repo {
  border: #64636381 1px solid;

}